#contenedor{
    text-align: center;
}
#parte1{
    background-color: #282828;
    width: 99vw;
    height: 49vh;
}
#parte2{
    background-color: #e9e9e9;
    width: 99vw;
    height: 49vh;
    z-index: 3;
}
#parte3{
    position: absolute;
    margin-top: -42vw;
    margin-left: 9vw;
    width: 80vw;
    height: 18vh;
    background-color: white;
    z-index: 1;
}
#parte4{
    margin-top: 8.8vw;
    width: 80vw;
    height: 55vh;
    background: white;
    border-top: 1px solid #b1b0b0;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
#parte5{
    position: absolute;
    margin-top: -5vw;
    margin-left: 43%;
    width: 11vw;
    height: 22vh;
    border-radius: 50%;
    background: white;
    border: 1px solid #b1b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hi{
    position: absolute;
    color: black;
}
#img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
}
#img1{
    width: 5vw;
    height: 3vw;
    overflow: hidden;
    margin-top: 10vw;
}
#imgs1{
    position: relative;
    top: -3vw;
    width: 5vw;
    height: 6vw;
    transition: 1s;
}
#imgs1:hover{
    top: 0vw;
    width: 5vw;
    height: 6vw;
}
#img2{
    width: 5vw;
    height: 3vw;
    overflow: hidden;
}
#imgs2{
    position: relative;
    top: -3vw;
    width: 5vw;
    height: 6vw;
    transition: 1s;
}
#imgs2:hover{
    top: 0vw;
    width: 5vw;
    height: 6vw;
}
#texto{
    position: absolute;
    color: black;
}