body{
    display: grid;
    padding-block: 120px;
    place-content: center;
    gap: 5vw;
}

#contenedor{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vw;
    top: 0vw;
    left: 0vw;
    background-image: url(OIP.jpg);
}

.cuadros{
    position: absolute;
    top: 5vw;
}
#cuadro1, #cuadro2, #cuadro3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    object-fit: cover;
    width: 40vw;
    height: 25vw;
    border-radius: 2vw;
    border: 0.5vw solid #ff6f2c;
    box-shadow: 1px 10px 15px #ff6f2c;
    margin-top: 5vw;
    gap: 3vw;
}
@keyframes show {
    from {
        opacity: 0; scale: 10%;
    }

    to {
        opacity: 1; scale: 100%;
    }
}

#cuadro1, #cuadro2, #cuadro3 {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
#poke{
    width: 21vw;
    margin-top: -3vw;
}
#starWars{
    margin-top: -2vw;
    width: 28vw;
}
#superHero{
    width: 21vw;
    margin-top: -2vw;
    border-radius: 1vw;
}
#dia9{
    position: absolute;
    font-size: 1.2vw;
    top: 22vw;
    color: rgb(2, 2, 2);
    text-decoration: none;
}
#dia8{
    position: absolute;
    font-size: 1.2vw;
    top: 23vw;
    color: rgb(2, 2, 2);
    text-decoration: none;
}
#dia7{
    position: absolute;
    font-size: 1.2vw;
    top: 23vw;
    color: rgb(2, 2, 2);
    text-decoration: none;
}