body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(./img/pixelcut-export\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    margin-top: 8vw;
}
#nombreJuego{
    font-size: 3.5vw;
}
#imgs img {
    margin: 5px;
}
#mensaje {
    font-size: 20px;
    margin-top: 20px;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #eb41e3;
    color: white;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #9d0595;
}
button:disabled {
    background-color: #9e9e9e;
}
#reglas{
    display: none;
    margin-top: 20px;
    margin-left: 24vw;
    background-color: #eb2ae1;
    padding: 10px;
    border-radius: 5px;
    width: 50vw;
}